[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-docker = "*"
docker-compose = "*"

[packages]
fastapi = "*"
uvicorn = "*"
rfc3986 = "*"
pydantic = "*"
python-dotenv = "*"
rdflib = "*"
prefixcommons = "*"
aiofiles = "*"
neo4j = "*"
pronto = "*"

[requires]
python_version = "3.8"
