[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
py2neo = "*"
uvicorn = "*"
rfc3986 = "*"
pydantic = "*"
python-dotenv = "*"
rdflib = "*"
prefixcommons = "*"
aiofiles = "*"

[requires]
python_version = "3.8"
